
    <mk-layout-wrapper>
      <mk-layout-header [isSidebarLeftToggle]="true" [isSidebarRightToggle]="false">
        <mk-layout-header-logo>Golden Oak</mk-layout-header-logo>
        <mk-layout-header-logo-mini>Golden Oak</mk-layout-header-logo-mini>
      </mk-layout-header>
      <mk-layout-sidebar-left>
      </mk-layout-sidebar-left>
      <mk-layout-content>
          <mk-box header="Product Details" [isCollapsable]="true" [isRemovable]="false">
              <form action="">
                <div class="row">
                    <div class="col-md-4">
                      <mat-form-field class="full-width">
                          <input matInput [(ngModel)]="Product.productName" name="productName" required placeholder="Product Name">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="full-width">
                            <input matInput [(ngModel)]="Product.itemCode" name="code" required placeholder="Item Code">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="full-width">
                            <input matInput required type="number" [(ngModel)]="Product.package" name="package" value="12" placeholder="Package (include Pcs)">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <mat-form-field>
                          <mat-label>Category:</mat-label>
                          <mat-select [(ngModel)]="Product.categoryId" name="category">
                            <mat-option *ngFor="let item of categories" [value]="item.categoryId">
                              {{item.categoryName}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="full-width">
                            <input matInput type="text" [(ngModel)]="Product.specification1" name="line1" placeholder="Specification (Line 1)">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="full-width">
                            <input matInput type="text" [(ngModel)]="Product.specification2" name="line2"  placeholder="Specification (Line 2)">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="full-width">
                            <input matInput type="text" [(ngModel)]="Product.specification3" name="line3"  placeholder="Specification (Line 3)">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <mat-form-field class="full-width">
                          <textarea matInput [(ngModel)]="Product.fullDescription" name="fullDescription"  required placeholder="Full Description"></textarea>
                      </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <mat-form-field class="full-width">
                          <textarea matInput [(ngModel)]="Product.useCase" name="useCase" required placeholder="Use Case"></textarea>
                      </mat-form-field>
                  </div>
                </div>
              </form>
            </mk-box>
            <mk-box header="Product Varieties" [isCollapsable]="false" [isRemovable]="false">
                <div class="row">
                    <div class="col-md-12">
                      <button mat-raised-button (click)="openDialog(true)">Add New Fragrance</button>
                    </div>
                </div>
                <br><br>
                <table mat-table [dataSource]="dataSource" *ngIf="ProductFragrances.length > 0">
            
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef> Product Image </th>
                        <td mat-cell *matCellDef="let element"> 
                            <img *ngIf="element.fileName.length > 100" src="{{element.fileName}}" height="100" width="100">
                            <img *ngIf="element.fileName.length < 100" src="{{ ImageURL }}/{{element.fileName}}" height="100" width="100">
                        </td>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Fragrance Name </th>
                      <td mat-cell *matCellDef="let element">
                          <mat-form-field style="width: 80%">
                              <input matInput [(ngModel)]="element.fragranceName">
                          </mat-form-field>
                      </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> Actions </th>
                      <td mat-cell *matCellDef="let element; let i = index"> 
                        <!-- <button mat-flat-button color="primary" (click)="openDialog(false,element)">
                          Edit
                        </button>&nbsp;&nbsp; -->
                        <button mat-flat-button color="warn" (click)="deleteItem(i,element.id)">
                            Delete
                        </button> 
                        <button mat-flat-button color="primary" (click)="fragranceEdit(element)">
                            Update
                        </button> 
                      </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
              <div class="row">
                <div class="col-md-12">
                  <button mat-raised-button (click)="onSubmit()">Submit</button>
                </div>
              </div>
            <!-- <div class="row">
              <div class="col-md-3" *ngFor='let url of urls' >
                <img [src]="url" height="100" width="100">
              </div>
            </div> -->
            </mk-box>
            <ng2-toasty></ng2-toasty>
            <ngx-loading [show]="loading"></ngx-loading>
      </mk-layout-content>
      <mk-layout-footer>
        <mk-layout-footer-left>
          Golden Oak Implex LLP
        </mk-layout-footer-left>
        <mk-layout-footer-right>
          Footer right HTML
        </mk-layout-footer-right>
      </mk-layout-footer>
    </mk-layout-wrapper>
