
    <mk-layout-wrapper>
      <mk-layout-header [isSidebarLeftToggle]="true" [isSidebarRightToggle]="false">
        <mk-layout-header-logo>Golden Oak</mk-layout-header-logo>
        <mk-layout-header-logo-mini>Golden Oak</mk-layout-header-logo-mini>
      </mk-layout-header>
      <mk-layout-sidebar-left>
      </mk-layout-sidebar-left>
      <mk-layout-content>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element"> 
                  <button mat-flat-button color="primary" routerLink="/product/{{element.productId}}">
                    Edit
                  </button>&nbsp;&nbsp;
                  <button mat-flat-button color="warn" (click)="deleteProduct(element.id)" >
                      Delete
                  </button> 
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            
            <ng2-toasty></ng2-toasty>
            <ngx-loading [show]="loading"></ngx-loading>
      </mk-layout-content>
      <mk-layout-footer>
        <mk-layout-footer-left>
          Golden Oak Implex LLP
        </mk-layout-footer-left>
        <mk-layout-footer-right>
          Footer right HTML
        </mk-layout-footer-right>
      </mk-layout-footer>
    </mk-layout-wrapper>
