
    <mk-layout-wrapper>
      <mk-layout-header [isSidebarLeftToggle]="true" [isSidebarRightToggle]="false">
        <mk-layout-header-logo>Golden Oak</mk-layout-header-logo>
        <mk-layout-header-logo-mini>Golden Oak</mk-layout-header-logo-mini>
      </mk-layout-header>
      <mk-layout-sidebar-left>
      </mk-layout-sidebar-left>
      <mk-layout-content>
        
      </mk-layout-content>
      <mk-layout-footer>
        <mk-layout-footer-left>
          Golden Oak Implex LLP
        </mk-layout-footer-left>
        <mk-layout-footer-right>
          Footer right HTML
        </mk-layout-footer-right>
      </mk-layout-footer>
    </mk-layout-wrapper>
