
    <mk-layout-wrapper>
      <mk-layout-header [isSidebarLeftToggle]="true" [isSidebarRightToggle]="false">
        <mk-layout-header-logo>Golden Oak</mk-layout-header-logo>
        <mk-layout-header-logo-mini>Golden Oak</mk-layout-header-logo-mini>
      </mk-layout-header>
      <mk-layout-sidebar-left>
      </mk-layout-sidebar-left>
      <mk-layout-content>
          <div class="row">
              <div class="col-md-12">
                <h3>Welcome Admin,</h3><br>Click Below to Logout<br><br>
                <button mat-flat-button (click)="logout()">Logout</button>
              </div>
                
            </div>
      </mk-layout-content>
      <mk-layout-footer>
        <mk-layout-footer-left>
          Golden Oak Implex LLP
        </mk-layout-footer-left>
        <mk-layout-footer-right>
        </mk-layout-footer-right>
      </mk-layout-footer>
    </mk-layout-wrapper>