
    <mk-layout-wrapper>
      <mk-layout-header [isSidebarLeftToggle]="true" [isSidebarRightToggle]="false">
        <mk-layout-header-logo>Golden Oak</mk-layout-header-logo>
        <mk-layout-header-logo-mini>Golden Oak</mk-layout-header-logo-mini>
      </mk-layout-header>
      <mk-layout-sidebar-left>
      </mk-layout-sidebar-left>
      <mk-layout-content>
          <mk-box header="Category Details" [isCollapsable]="true" [isRemovable]="false">
              <form action="">
                <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="full-width">
                          <input matInput [(ngModel)]="Category.categoryName" name="catName" required placeholder="Category">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                      <button mat-raised-button (click)="submit()">Save</button>
                  </div>
                </div>
              </form>
            </mk-box>
            <ng2-toasty></ng2-toasty>
            <ngx-loading [show]="loading"></ngx-loading>
      </mk-layout-content>
      <mk-layout-footer>
        <mk-layout-footer-left>
          Golden Oak Implex LLP
        </mk-layout-footer-left>
        <mk-layout-footer-right>
          Footer right HTML
        </mk-layout-footer-right>
      </mk-layout-footer>
    </mk-layout-wrapper>
