<div class="hold-transition login-page" style="height: 100%">
    <div class="login-box" style="    margin: auto;
    padding-top: 7%;">
      <div class="login-logo">
        <a>Golden Oak</a>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
  
        <form action="/" method="post">
          <div class="form-group has-feedback">
            <input [(ngModel)]="user" name="user" type="text" class="form-control" placeholder="User">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input [(ngModel)]="password" name="password" type="password" class="form-control" placeholder="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" (click)="login()" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
  
      </div>
      <!-- /.login-box-body -->
    </div>
  </div>