<h1 mat-dialog-title>Fragrance Details</h1>
<div mat-dialog-content>
    <input #fileInput type="file" (change)="onSelectFile($event)" />
    <br>
    <div *ngIf="ProductFragrance.fileName" class="row">
            <div class="col-md-2">
                <img [src]="ProductFragrance.fileName" height="100" width="100">
            </div>
            <div class="col-md-5">
                <mat-form-field class="full-width">
                    <input #fileInput matInput [(ngModel)]="ProductFragrance.fragranceName" name="Fragrance" type="text" placeholder="Fragrance Name">
                </mat-form-field>
            </div>
          </div>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="ProductFragrance">Add</button>
    <!-- <button mat-button mat-dialog-close>Close</button> -->
</div>
